<div class="scrunchies">
  <section class="scrunchie">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">title</th>
          <th scope="col">inventory</th>
          <th scope="col">price</th>
          <th scope="col">cost</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr>
          <th scope="row">{{id}}</th>
          <td>{{title}}</td>
          <td>{{inventory}}</td>
          <td>{{price}}</td>
          <td>{{cogs}}</td>
          <td><a href="/dashboard/edit/{{scrunchie.id}}" class="edit-link"><button type="button" class="btn btn-secondary">Edit</button></a></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>
