{{#if loggedIn}}
<article>
  <a href="/collection/{{scrunchie.collection_id}}"> &larr; Back to Scrunchie</a>
<div class="mt-4">
  <h2>
    Edit Scrunchie
  </h2>
  </div>
  <form class="edit-scrunchie-form row">
    <div class="col">
      <label class="form-label">Scrunchie Name</label>
      <input  type="text" class="form-control" id="scrunchie-title" value="{{scrunchie.title}}" />
    </div>
    <div class="col">
      <label class="form-label">Scrunchie Inventory</label>
      <input type="number" class="form-control" id="scrunchie-inventory" value="{{scrunchie.inventory}}">
    </div>
    <div class="col">
      <label class="form-label">Scrunchie Price</label>
      <input type="number" class="form-control" id="scrunchie-price" value="{{scrunchie.price}}">
    </div>
    <div class="col">
      <label class="form-label">Scrunchie Cost</label>
      <input type="number" class="form-control" id="scrunchie-cost" value="{{scrunchie.cogs}}">
    </div>
    <div class="col">
      <label class="form-label">Scrunchie Collection</label>
      <input type="number" class="form-control" id="scrunchie-collection" value="{{scrunchie.collection_id}}">
    </div>
    <div class="col-12">
    <button type="submit" class="btn btn-success">Save Scrunchie</button>
    <button type="button" class="btn btn-danger">Delete Scrunchie</button>
    </div>
  </form>
</article>



<script src="/javascript/edit-scrunchie.js"></script>
<script src="/javascript/delete-scrunchie.js"></script>
{{/if}}