<div class="scrunchies">
  <section class="scrunchie">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Inventory</th>
          <th scope="col">Cogs</th>
        </tr>
      </thead>
      <tbody>
        {{#each scrunchieTitles}}
        <tr>
          <th scope="row">{{id}}</th>
          <td><a href="/scrunchie/{{id}}">{{title}}</a></td>
          <td>{{inventory}}</td>
          <td>{{cogs}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>