{{#if loggedIn}}
<a href="/collection/{{scrunchie.collection_id}}"> &larr; Back to Collection</a>
<div class="mt-4">
{{> scrunchie-info scrunchie}}
</div>
<a href="/dashboard/edit/scrunchie/{{scrunchie.id}}" class="edit-link">Edit scrunchie</a>
 <div class="scrunchies mt-3">
    <section class="scrunchie">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">inventory</th>
            <th scope="col">price</th>
            <th scope="col">cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{scrunchie.inventory}}</td>
            <td>${{scrunchie.price}}</td>
            <td>${{scrunchie.cogs}}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

</article>



<script src="/javascript/scrunchie.js"></script>
{{/if}}